{block content}
<div id="dialog" title="Článek">
	<article>    
            <h4>{$data->title}</h4>
            <p>{$data->content}<p>   
            <p>{$data->releasedDate|date:'%d.%m.%Y'}<p>   
            <p>{$data->author->getInfo()['prijmeni']}<p>   
            <p><img src="{stream_get_contents($data->author->getPhoto())|dataStream}" alt="{$data->author->getInfo()['prijmeni']}" style="width:200px;"></p>
        </article>    
</div>   

